<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link rel="stylesheet" href="/index.css" type="text/css">
    <script src="viewport" ></script>
</head>
<body>
    <img class="logo" src="/gambarlogo.png" alt="Logo">
    <h1 class="welcome-text">Pratikum IIOT</h1>
    <div class="button-container">
        <a href="/register" class="button">Register</a>
        <a href="/login" class="button">Login</a>
    </div>
</body>
</html>
