<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <!-- <script src="viewport" ></script> -->
    
</head>

<body>
    <div class="container">

        <div class="img">
            <img src="bebas.png">
        </div>

        <div class="login-content">
            <form action="/login" method="post">
                <img src="logo itb.jpeg" alt="">
                <h2 class="title">Login</h2>
                
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>

                    <div class="div">
                        <input type="text" class="input" id="email" name="email" placeholder="NIM" required>
                    </div>
                </div>
            
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>

                    <div class="div">
                        <input type="password" id="password" name="password" placeholder="password" required>  
                    </div>                    
                </div>

                <div>
                    <p>Don't have an account? <a href="http://localhost:144/register">Register here</a>.</p>
                </div>

                <div>
                    <button type="submit" class="btn">Login</button>
                </div>            
            </form>
            <div id="notifMessages">
                <% if (messages.error) { %>
                    <%= messages.error %>
                    <% } %>
            </div>
        </div>

    </div>
</body>
</html>